
.faq-hero{
    background-image: url('../images/faq-hero.jpg');
    height: 500px;
    background-size: cover;
    padding-top: 100px;
}

.faq-title-div{
    text-align: center;
}

.faq-title{
    color: #696969;
    font-size: 55px;
    font-weight: 300;
}

/* .Collapsible.question, span.Collapsible__trigger.is-open {
    color: #007ad7;
    font-size: 20px;
    border-bottom: 1px solid gray;
}

.Collapsible.question:hover, span.Collapsible__trigger.is-open:hover{
    cursor: pointer;
    background: #ebebeb;
} */