.hydra-hero{
    padding-top: 130px;
}

.hydra-banner{
    text-align: center;
    margin-bottom: 75px
}

.hydra-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 65px;
}

.hydra-cta {
    color: gray;
    font-weight: 300;
    font-size: 20px;
    margin: 20px 5%;
}

.hydra-img{
    height: 300px;
    width: auto;
}

.hydra-data-div{
    text-align: right;
}

.donwload-button {
    border: 2px solid gray;
    padding: 10px 25px;
    border-radius: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.donwload-button:hover{
    text-decoration: none;
    background: gray;
    color: white;
}



/************ SPECS ***************/

.hydra-specs{
    margin-bottom: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}

.spec-list{
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.cta-div{
    text-align: center;
    margin-top: 100px;
}

/************** BUTTONS ***************/

.product-contact-button{
    font-size: 20px;
    background-color: #150DD6;
    border: 1px solid #150DD6;
    color: white;
    padding: 10px 30px;
    border-radius: 236px;
    font-weight: 300;
}

.product-contact-button:hover{
    background-color: white;
    color: #150DD6;
    text-decoration: none;
}

.button-links{
    text-align: center;
}

@media(max-width: 991px){
    .button-links{
        margin: 30px;
    }
}