.maxx-hero{
    padding-top: 130px;
}

.maxx-banner{
    text-align: center;
}

.maxx-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 65px;
}

.maxx-cta {
    color: gray;
    font-weight: 300;
    font-size: 20px;
    margin: 20px 5%;
}

.maxx-img{
    height: 300px;
    width: auto;
}

.maxx-data-div{
    text-align: right;
}

.donwload-button {
    border: 2px solid gray;
    padding: 10px 25px;
    border-radius: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.donwload-button:hover{
    text-decoration: none;
    background: gray;
    color: white;
}

/************ SPECS ***************/

.maxx-specs{
    margin-top: 0px;
    margin-bottom: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}

.spec-list{
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.cta-div{
    text-align: center;
    margin-top: 100px;
}