/************* HEADER ******************/

.headers-div{
    box-shadow: 5px 5px 20px #888888;
    position: fixed;
    z-index: 99;
    width: 100%;
    background: white;
}

.header-mobile{
    display: none;
}

.fa-bars{
    font-size: 2em;
}

.hamburger{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a.mobile-link {
    color: #696969;
    font-size: 14px;
}

.header-nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    color: gray;
    font-size: 30px;
    font-weight: 300;
}

.nav-links:hover{
    color: lightgray;
    text-decoration: none;
}

.products-drop{
    font-size: 26px;
    color: gray !important;
    font-weight: 300 !important;
}

.contact-button{
    font-size: 30px;
    background-color: #150DD6;
    border: 1px solid #150DD6;
    color: white;
    padding: 10px 30px;
    border-radius: 236px;
    font-weight: 300;
}

.contact-button:hover{
    background-color: white;
    color: #150DD6;
    text-decoration: none;
}



/************* FOOTER ******************/

.footer{
    background-color: gray;
    padding-top: 50px;
    text-align: center;
}

.footer-heading{
    color: white;
    font-size: 20px;
}

.footer-nav-links{
    color: white;
    font-weight: 300;
    line-height: 2;
}

.legals{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.legal-space{
    margin: 0 10px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.login-button{
    font-size: 16px;
    background-color: #150DD6;
    border: 1px solid #150DD6;
    color: white;
    padding: 5px 15px;
    border-radius: 236px;
    font-weight: 300;
}

.login-button:hover{
    background-color: white;
    color: #150DD6;
    text-decoration: none;
}

.small-order-button{
    font-size: 16px;
    background-color: #150DD6;
    border: 1px solid #150DD6;
    color: white;
    padding: 5px 15px;
    border-radius: 236px;
    font-weight: 300;
    margin-bottom: 20px;
}

.small-order-button:hover{
    background-color: white;
    color: #150DD6;
    text-decoration: none;
}

@media(max-width: 991px){
    .header-mobile{
        display: block;
    }
    .header-desktop{
        display: none;
    }
}